#tweets li{
	height: 75px;
	width: 465px;
	background-color: #33BBFF;
}
#tweets{
	height: 405px;
	overflow: hidden;
	list-style: none;
}
.ticker li {
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.ticker li img {
	float: left;
	clear: both;
	margin-right: 10px;
	margin-top: 5px;
}
#hashes {
	height: 280px;
	overflow: hidden;
	list-style: none;
}
#hashes li{
	height: 50px;
	width: 450px;
	background-color: #FF3030;
}
